.event-page {

  &__top {
    position: relative;
    margin: 10rem 0 16rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & .title {
      margin-left: 6rem;
    }

    & .button {
      position: absolute;
      top: 0;
      right: 6rem;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
    }

    &::before {
      left: -8.3rem;
      top: -8.9rem;
      width: 108.5rem;
      height: 37rem;
      background-image: url(../../assets/img/background-shape-4.jpg);
    }

    &::after {
      width: 42rem;
      height: 24rem;
      top: 1.8rem;
      left: 49rem;
      background-image: url(../../assets/svg/events-stripes.svg);
      background-size: cover;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 8rem;

    &__top {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    &__bottom {
      margin: 8rem 0 0;
    }
  }

  &__detail {

    &__tags {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 2rem 0 7rem;
    }

    & .tag {
      margin-top: .7rem;
    }

    &__date {
      width: 36rem;
    }

    &__extra {
      width: 66rem;
    }

    &__left,
    &__right {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: nowrap;
      margin: 1rem 0 0;

      & > div {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    &__left > span {
      width: 12rem;
    }

    &__right > span {
      width: 30rem;
    }

    &__span {
      font-family: Pressura, sans-serif;
      font-size: 3rem;
    }
  }
}

.filter {
  width: 35rem;

  &__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 4rem;

    & .select__dropdown {
      width: 100%;
    }

    &__option {
      flex: 4;
    }

    & .submit {
      flex: 1;
      margin-left: 1.2rem;
    }
  }

  &__status {
    border-bottom: .2rem solid black;
    width: auto;
    position: relative;
    padding: 0 0 0 5rem;

    &::before {
      content: '';
      width: 3rem;
      height: 100%;
      position: absolute;
      left: 0;
      top: .1rem;
      background-image: url(../../assets/svg/view.svg);
      background-position: center center;
      background-size: fit;
      background-repeat: no-repeat;
    }

    &__close {
      display: block;
      width: 4rem;
      height: 4rem;
      position: absolute;
      right: -7rem;
      top: .6rem;
      text-align: center;
      line-height: 3.5rem;
      border-radius: 2rem;
      font-size: 2.5rem;
      transition: background-color .6s, color, transform .2s;
      background-color: lightgrey;

      &::after {
        content: 'verwijder filter';
        color: black;
        position: absolute;
        height: 4rem;
        left: 4.8rem;
        top: 0;
        font-size: 1.4rem;
        line-height: 4rem;
        width: 12rem;
        opacity: 0;
        transition: opacity .2s;
      }

      &:hover {
        background-color: #eb506e;
        color: white;
        cursor: pointer;
        transform: scale(1.1);

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (width <= 1050px) {

  .event-page__top .button {
    right: auto;
    top: auto;
    left: 0;
    bottom: -12rem;
  }
}

@media only screen and (width <= 900px) {

  .event-page__detail {

    &__date {
      width: 20rem;
    }

    &__span {
      margin-bottom: 1rem;
    }

    &__right,
    &__left {
      flex-direction: column;

      & > span {
        width: auto;
      }
    }
  }
}

@media only screen and (width <= 860px) {

  .event-page__top {

    &::before {
      left: -14rem;
      width: calc(100vw + 35rem);
    }

    &::after {
      left: 63%;
      top: 60%;
    }

    & .title {
      margin: 0;
    }
  }
}

@media only screen and (width <= 600px) {

  .event-page__filter__top {
    flex-direction: column;
  }

  .filter {
    width: 100%;
    margin: 0 0 2rem;

    &__form {
      margin: 0;
      justify-content: space-between;

      &__option {
        flex: 1;
      }

      & .submit {
        flex: 0 1 auto;
        width: 15rem;
      }
    }
  }
}

@media only screen and (width <= 500px) {

  .eventdetail .event-page__top {
    margin: 9rem 0 15rem;
  }

  .filter__form .submit {
    width: 10rem;
  }

  .event-page {

    &__top {
      margin: 9rem 0 4rem;

      &::after {
        display: none;
      }
    }

    &__top .button {
      bottom: -8rem;
    }
  }
}

@media only screen and (width <= 400px) {

  .event-page__filter {
    margin: 0 0 2rem;

    &__bottom {
      margin: 5rem 0;
    }

    &__bottom.filter-active {
      margin: 5rem 0 8rem;
    }
  }

  .filter__status {
    position: relative;

    &__close {
      position: absolute;
      left: 0;
      bottom: -6.4rem;
      top: auto;
      background-color: #eb506e;
      color: white;

      &::after {
        opacity: 1;
      }
    }
  }
}
