@import '../vendors/reset.css';

html {
  width: 100%;
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.header,
.content,
.footer {
  max-width: 102.4rem;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.header {
  margin-top: 5.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    height: 13rem;
    background-image: url(../../assets/svg/DOK_logo.svg);
    background-repeat: no-repeat;
    margin-bottom: 2.4rem;
  }

  & .select {
    width: 16rem;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &__item {
      font-family: Pressura, sans-serif;
      font-size: 1.6rem;
      color: black;
      text-decoration: none;
      margin-right: 3.2rem;
      border-bottom: .15rem solid white;
      transition: border-color .2s;
      opacity: 0;

      &:hover {
        border-color: black;
      }
    }
  }
}

.wf-pressura-n4-active .header__nav__item {
  opacity: 1;
}

.select {
  position: relative;

  &::before {
    z-index: 1;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 3.5rem;
    height: 3.5rem;
    background-color: lightgrey;
    background-image: url(../../assets/svg/dropdown-arrow.svg);
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__dropdown {
    appearance: none;
    margin: 0;
    height: 3.5rem;
    width: 100%;
    border: .15rem solid lightgrey;
    border-radius: 0;
    padding: .5rem .5rem .5rem 4.7rem;
    outline: none;
    background-color: #f8f8f8;
    font-family: Pressura, sans-serif;
    font-size: 1.4rem;
  }
}

/* font loading */

.js {

  &.title,
  .button,
  p {
    opacity: 0;
  }
}

.js.wf-active {

  & .title,
  & .button,
  & p {
    opacity: 1;
  }
}

.button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  height: 6rem;
  padding: 0 5rem;
  font-family: Pressura, sans-serif;
  font-size: 1.8rem;
  letter-spacing: .05rem;
  background-color: lightgrey;
  text-transform: uppercase;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &:disabled,
  &.disabled {
    color: #999;
    cursor: not-allowed;

    &:hover {
      background-color: lightgrey;
    }
  }
}

.title {
  width: 100%;
  text-transform: uppercase;
  font-family: Pressura, sans-serif;
  font-size: 4rem;

  &_type_big {
    font-size: 10rem;
  }

  &_type_small {
    font-size: 2.5rem;
    margin: 0 0 2rem;
  }

  &_type_medium {
    font-size: 6rem;
  }
}

p {
  font-family: Lora, serif;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-bottom: 2.2rem;
}

@media only screen and (width <= 1050px) {

  .header,
  .content,
  .footer {
    max-width: calc(100vw - 8rem);
    width: 100%;
    margin: 4rem;
  }
}

@media only screen and (width <= 720px) {

  .header,
  .content,
  .footer {
    max-width: calc(100vw - 4rem);
    margin: 2rem;
  }

  .title {
    font-size: 3rem;

    &_type_big {
      font-size: 7.5rem;
    }

    &_type_small {
      font-size: 1.8rem;
    }

    &_type_medium {
      font-size: 4.5rem;
    }
  }
}

@media only screen and (width <= 470px) {

  .header {
    padding: 0 0 5rem;

    & > div {
      position: relative;
    }

    & .select {
      position: absolute;
      right: 0;
      bottom: -6rem;
    }
  }

  .title {

    &_type_big {
      font-size: 5rem;
    }

    &_type_small {
      font-size: 1.25rem;
      margin: 0 0 2rem;
    }

    &_type_medium {
      font-size: 3rem;
    }
  }

  p {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .button {
    font-size: 1.4rem;
  }
}
