/*
███████ ███    ███  █████  ██      ██
██      ████  ████ ██   ██ ██      ██
███████ ██ ████ ██ ███████ ██      ██
     ██ ██  ██  ██ ██   ██ ██      ██
███████ ██      ██ ██   ██ ███████ ███████
*/

html {
  font-size: 62.5%;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.title {

  &_color {

    &_red {
      color: #ed6b6b;
    }

    &_white {
      color: white;
    }
  }
}

.button {
  position: relative;

  &.hidden {
    display: none;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  &_color_red,
  &_color_orange,
  &_color_green,
  &_color_yellow {
    transition: background-color .5s, color .2s;

    &:hover {
      color: white;
      background-color: transparent;
    }
  }

  &_color_red::after {
    background-image: linear-gradient(to right, #eb6c6e, #eb506e);
  }

  &_color_orange::after {
    background-image: linear-gradient(to right, #f79650, #f3854b);
  }

  &_color_green::after {
    background-image: linear-gradient(to right, #6bb46a, #6bbba4);
  }

  &_color_yellow::after {
    background-image: linear-gradient(to right, #fbb41b, #fbd434);
  }
}

/*
██ ███    ██ ███████ ████████  █████
██ ████   ██ ██         ██    ██   ██
██ ██ ██  ██ ███████    ██    ███████
██ ██  ██ ██      ██    ██    ██   ██
██ ██   ████ ███████    ██    ██   ██
*/

.insta {
  display: flex;
  flex-direction: column;
  margin-top: 12.6rem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: -4rem;
    width: 34.1rem;
    height: 6.29rem;
    background-image: url(../../assets/svg/insta-stripes.svg);
  }

  & .title {
    order: 2;
    z-index: -1;
    text-align: right;
    margin-top: -2.5rem;
  }

  &__images {
    display: flex;
    flex-direction: row;
    order: 1;
  }

  &__link {
    display: block;
  }

  &__link,
  &__picture {
    width: 18rem;
    height: 18rem;
    margin-right: 6rem;
  }
}

/*
██      ██ ███    ██ ██   ██ ███████
██      ██ ████   ██ ██  ██  ██
██      ██ ██ ██  ██ █████   ███████
██      ██ ██  ██ ██ ██  ██       ██
███████ ██ ██   ████ ██   ██ ███████
*/

.link {
  font-weight: 700;

  &_color_green {
    color: #6ab46a;
  }

  &_color_orange {
    color: #f79650;
  }

  &_color_yellow {
    color: #fed834;
  }

  &_color_brown {
    color: #614e3f;
  }

  &_color_blue {
    color: #6ab0b2;
  }

  &_color_red {
    color: #eb6c6e;
  }
}

/*
 ██████  ███████ ███    ██ ███████ ██████   █████  ██          ███████ ██    ██ ███████ ███    ██ ████████ ███████
██       ██      ████   ██ ██      ██   ██ ██   ██ ██          ██      ██    ██ ██      ████   ██    ██    ██
██   ███ █████   ██ ██  ██ █████   ██████  ███████ ██          █████   ██    ██ █████   ██ ██  ██    ██    ███████
██    ██ ██      ██  ██ ██ ██      ██   ██ ██   ██ ██          ██       ██  ██  ██      ██  ██ ██    ██         ██
 ██████  ███████ ██   ████ ███████ ██   ██ ██   ██ ███████     ███████   ████   ███████ ██   ████    ██    ███████
*/

.event-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    margin: 0 0 1rem;
  }

  &__image,
  &__placeholder {
    width: 36rem;
    height: 36rem;
    background-color: lightgrey;

    &_type_narrow {
      width: 30rem;
      height: 30rem;
    }
  }

  &__content {
    width: 36rem;
  }

  &__paragraph {
    margin: 3rem 0 2rem;
  }
}

/*
██   ██  ██████  ███    ███ ███████     ███████ ██    ██ ███████ ███    ██ ████████ ███████
██   ██ ██    ██ ████  ████ ██          ██      ██    ██ ██      ████   ██    ██    ██
███████ ██    ██ ██ ████ ██ █████       █████   ██    ██ █████   ██ ██  ██    ██    ███████
██   ██ ██    ██ ██  ██  ██ ██          ██       ██  ██  ██      ██  ██ ██    ██         ██
██   ██  ██████  ██      ██ ███████     ███████   ████   ███████ ██   ████    ██    ███████
*/

.home__events {
  position: relative;
  margin-top: 26rem;
  border-top: .01rem solid transparent; /* fix overflow issue */

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
  }

  &::before {
    left: -18rem;
    top: -17rem;
    width: 90.4rem;
    height: 68rem;
    background-image: url(../../assets/img/background-shape-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    width: 42rem;
    height: 24rem;
    top: 15.5rem;
    left: 15rem;
    background-image: url(../../assets/svg/events-stripes.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: -14rem;
  }

  &__event-article:nth-child(1) {
    margin-top: 30rem;

    & .event-article__content {
      margin-left: 6rem;
    }
  }

  &__event-article:nth-child(2) {
    align-items: flex-end;

    & .event-article {
      align-items: flex-end;
    }

    & .event-article__content {
      margin-right: 6rem;
    }
  }

  & > .title {
    margin-top: 4rem;
  }

  & .event-article__image,
  & .event-article__placeholder {
    margin-bottom: 5.2rem;
  }

  & .button {
    position: absolute;
    bottom: 2rem;
    right: 6rem;
  }
}

/*
███████ ██    ██ ███████ ███    ██ ████████     ██████   █████   ██████  ███████
██      ██    ██ ██      ████   ██    ██        ██   ██ ██   ██ ██       ██
█████   ██    ██ █████   ██ ██  ██    ██        ██████  ███████ ██   ███ █████
██       ██  ██  ██      ██  ██ ██    ██        ██      ██   ██ ██    ██ ██
███████   ████   ███████ ██   ████    ██        ██      ██   ██  ██████  ███████
*/

.event-page {

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & .event-article {
      flex-direction: row;
      margin-bottom: 6rem;

      &__content {
        order: 1;
        width: 36rem;
        margin-right: 12rem;
      }

      &__image,
      &__placeholder {
        order: 2;
        width: 30rem;
        height: 30rem;
      }
    }
  }

  &__detail {

    &__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: auto;

      &__text {
        width: 66rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        & > div {
          width: 30rem;
        }
      }

      &__images,
      &__image {
        width: 30rem;
      }

      &__image {
        margin: 0 0 2rem;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      & .event-article {
        flex-direction: row;
        margin-bottom: 6rem;

        &__content {
          order: 1;
          width: 36rem;
          margin-right: 12rem;
        }

        &__image,
        &__placeholder {
          order: 2;
        }
      }
    }
  }
}

/*
 █████  ██████  ████████ ██  ██████ ██      ███████ ███████
██   ██ ██   ██    ██    ██ ██      ██      ██      ██
███████ ██████     ██    ██ ██      ██      █████   ███████
██   ██ ██   ██    ██    ██ ██      ██      ██           ██
██   ██ ██   ██    ██    ██  ██████ ███████ ███████ ███████
*/

.home__blog {
  margin-top: 32rem;

  &::before {
    top: -26rem;
    right: -20rem;
    width: 82.6rem;
    height: 48.8rem;
    background-image: url(../../assets/img/background-shape-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    width: 43rem;
    height: 4.5rem;
    top: -8rem;
    right: -3rem;
    background-image: url(../../assets/svg/blog-stripes.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  & > .title {
    text-align: right;
    padding-right: 12rem;
  }

  &__content {
    margin-top: -6rem;

    & a:nth-child(2) {
      margin-top: 11rem;
    }

    & a:nth-child(3) {
      margin-top: 22rem;
    }
  }

  & .button {
    margin-left: 12rem;
  }
}

.home__zones {
  margin-top: 14rem;
  flex-direction: row;
  justify-content: flex-start;

  &::before {
    top: -8.5rem;
    right: 0;
    width: 83.6rem;
    height: 29.8rem;
    background-image: url(../../assets/img/background-shape-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    width: 13.9rem;
    height: 14.4rem;
    top: 1rem;
    right: 54rem;
    background-image: url(../../assets/svg/zone-stripes.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  & > .title {
    text-align: right;
    padding-right: 6rem;
  }

  &__content {
    margin-top: 10rem;
  }

  &__picture {
    width: 100%;
  }

  & .button {
    margin-top: 3rem;
  }
}

.home__blog,
.home__zones {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__article {
    width: 30rem;
  }

  & .article__title {
    margin: 1rem 0 2rem;
  }
}

/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/

.footer-seperator {
  border: none;
  border-bottom: .05rem solid black;
  margin: 10rem 0 7rem;
}

.footer {

  &__item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: Pressura;
    font-size: 1.4rem;
    line-height: 2.2rem;

    &_wide {
      width: 36rem;
    }
  }

  &__general {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 3rem;

    & .to-top {
      display: block;
      width: 6rem;
      height: 6rem;
      background-color: lightgrey;
      position: absolute;
      top: 0;
      right: 0;
      background-image: url(../../assets/svg/dropdown-arrow.svg);
      background-size: 2rem auto;
      background-position: center center;
      background-repeat: no-repeat;
      transform: rotate(180deg);
      transition: transform .3s;

      &:hover {
        transform: rotate(180deg) scale(1.1);
        cursor: pointer;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;

    & strong {
      font-weight: 700;
      font-style: italic;
    }
  }

  &__general,
  &__contact {

    & a {
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/*
███████ ██████   ██████  ███    ██ ███████  ██████  ██████  ███████
██      ██   ██ ██    ██ ████   ██ ██      ██    ██ ██   ██ ██
███████ ██████  ██    ██ ██ ██  ██ ███████ ██    ██ ██████  ███████
     ██ ██      ██    ██ ██  ██ ██      ██ ██    ██ ██   ██      ██
███████ ██       ██████  ██   ████ ███████  ██████  ██   ██ ███████
*/

.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5rem;

  &__item {
    background-image: url(../../assets/img/sponsors_sprite.jpg);
    background-size: auto 100%;
    display: block;
    height: 6rem;

    &_democrazy {
      width: 8.3rem;
    }

    &_cirq {
      width: 5.8rem;
      background-position: -10.2rem 0;
    }

    &_bionade {
      width: 6rem;
      background-position: -18.1rem 0;
    }

    &_eulala {
      width: 5.5rem;
      background-position: -26.1rem 0;
    }

    &_gent {
      width: 8.8rem;
      background-position: -33.6rem 0;
    }

    &_pepsi {
      width: 6rem;
      background-position: -44.4rem 0;
    }

    &_sogent {
      width: 6rem;
      background-position: -52.4rem 0;
    }

    &_thuis {
      width: 7.7rem;
      background-position: -60.4rem 0;
    }

    &_vedett {
      width: 6rem;
      background-position: -70rem 0;
    }

    &_overheid {
      width: 9rem;
      background-position: -77.9rem 0;
    }

    &_biofresh {
      width: 6rem;
      background-position: -89.1rem 0;
    }
  }
}

/*
███████  ██████  ██████  ███    ███ ███████
██      ██    ██ ██   ██ ████  ████ ██
█████   ██    ██ ██████  ██ ████ ██ ███████
██      ██    ██ ██   ██ ██  ██  ██      ██
██       ██████  ██   ██ ██      ██ ███████
*/

.input,
.label,
.input-error,
.submit {
  font-family: Pressura, sans-serif;
  appearance: none;
  margin: 0;
  height: 3.5rem;
  border-radius: 0;
  outline: none;
}

.input,
.submit {
  font-size: 1.4rem;
  padding: .5rem .5rem .5rem 1.2rem;
  outline: none;
  position: relative;
  background-color: #f8f8f8;
  transition: background-color .4s, color, border-color .2s;
  border: .15rem solid lightgrey;
  text-transform: uppercase;

  &_border_thick {
    border: .3rem solid lightgrey;
  }
}

.input {
  text-transform: uppercase;

  &:hover,
  &:focus {
    border-color: #999;
  }

  &_color_opaque {
    background-color: rgba(255, 255, 255, .5);
    border-color: transparent;

    &:hover,
    &:focus {
      border-color: white;
    }
  }
}

.label,
.input-error {
  font-size: 1.2rem;
  height: 1.8rem;
  margin-top: 1rem;
}

.submit {
  padding: .5rem 2rem;
  border: .15rem solid lightgrey;
  background-color: lightgrey;

  &:active,
  &:focus,
  &:hover {
    border-color: #999;
    background-color: #999;
    color: white;
  }

  &:hover {
    cursor: pointer;
  }

  &_border_thick {

    &:focus,
    &:hover {
      border-width: .3rem;
    }
  }

  &_color_white {
    background-color: white;
    border-color: transparent;

    &:focus,
    &:hover {
      background-color: lightgrey;
      border-color: white;
      color: black;
    }
  }
}

/*
███    ██ ███████ ██     ██ ███████ ██      ███████ ████████ ████████ ███████ ██████
████   ██ ██      ██     ██ ██      ██      ██         ██       ██    ██      ██   ██
██ ██  ██ █████   ██  █  ██ ███████ ██      █████      ██       ██    █████   ██████
██  ██ ██ ██      ██ ███ ██      ██ ██      ██         ██       ██    ██      ██   ██
██   ████ ███████  ███ ███  ███████ ███████ ███████    ██       ██    ███████ ██   ██
*/

.above-footer {
  position: relative;
  margin: 16rem 0 20rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &::before {
    content: '';
    width: 128.9rem;
    height: 34.3rem;
    z-index: -1;
    position: absolute;
    top: -8rem;
    left: -14rem;
    background-image: url(../../assets/img/background-shape-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__newsletter {
    width: 78rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &__left {
      width: 24rem;
      margin: 0 6rem 0 0;

      & .paragraph {
        font-size: 1.4rem;
        color: white;
      }
    }

    &__right {
      width: 30rem;

      & > div {
        display: flex;
        flex-direction: column;
      }

      & .label {
        color: white;
      }

      & .input-error {
        color: #eb506e;
      }

      & .submit {
        margin-top: 2.2rem;
        width: 16rem;
      }

      & .input {
        width: 100%;
      }
    }

    &__labels {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__social {

    & .title {
      margin: 0 0 3.4rem;
    }

    &__icons {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    & .icon {
      margin: 0 2rem 0 0;
    }
  }

  &__newsletter,
  &__social {

    & .title {
      margin: 1.3rem 0 3rem;
    }
  }
}

/*
██  ██████  ██████  ███    ██ ███████
██ ██      ██    ██ ████   ██ ██
██ ██      ██    ██ ██ ██  ██ ███████
██ ██      ██    ██ ██  ██ ██      ██
██  ██████  ██████  ██   ████ ███████
*/

.icon {
  display: block;
  width: 4rem;
  height: 4rem;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform .2s;

  &:hover {
    transform: scale(1.2);
  }

  &_type_facebook {
    background-image: url(../../assets/svg/facebook.svg);
    background-size: 1.61rem auto;
  }

  &_type_twitter {
    background-image: url(../../assets/svg/twitter.svg);
    background-size: 3.62rem auto;
  }

  &_type_instagram {
    background-image: url(../../assets/svg/instagram.svg);
    background-size: 3.2rem;
  }
}

/*
████████  █████   ██████  ███████
   ██    ██   ██ ██       ██
   ██    ███████ ██   ███ ███████
   ██    ██   ██ ██    ██      ██
   ██    ██   ██  ██████  ███████
*/

.tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tag {
  display: block;
  font-family: Pressura, sans-serif;
  font-size: 1.9rem;
  line-height: 1.9rem;
  position: relative;
  margin: 2rem 4rem 0 0;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -.5rem;
    width: 3.1rem;
    height: 2.8rem;
    z-index: -1;
    background-color: lightgrey;
  }

  &_color_green::before {
    background-color: #6ab46a;
  }

  &_color_orange::before {
    background-color: #f79650;
  }

  &_color_yellow::before {
    background-color: #fed834;
  }

  &_color_brown::before {
    background-color: #987b65;
  }

  &_color_blue::before {
    background-color: #6ab0b2;
  }

  &_color_red::before {
    background-color: #eb6c6e;
  }
}

/*
███    ███ ███████ ███████ ███████  █████   ██████  ███████
████  ████ ██      ██      ██      ██   ██ ██       ██
██ ████ ██ █████   ███████ ███████ ███████ ██   ███ █████
██  ██  ██ ██           ██      ██ ██   ██ ██    ██ ██
██      ██ ███████ ███████ ███████ ██   ██  ██████  ███████
*/

.messages {
  position: fixed;
  left: 50%;
  top: 4rem;
  transform: translateX(-50%);
  z-index: 2;
  width: 80rem;

  & .message {
    padding: 2rem 4rem 2rem 8rem;
    font-size: 2.5rem;
    font-family: Pressura, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nonowrap;
    align-items: center;
    margin: 0 0 2rem;

    &_type_error {
      background-color: #eb506e;
      color: white;
    }

    &_type_success {
      background-color: #6ab46a;
      color: white;
    }

    &_type_warning {
      background-color: #fed834;
      color: black;
    }

    &__close {
      margin-left: 8rem;
      display: block;
      width: 5rem;
      height: 5rem;
      text-align: center;
      font-size: 4rem;
      border-radius: 2.5rem;
      transition: background-color .2s;

      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, .3);
      }
    }
  }
}

/*
███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████
*/

@media only screen and (width <= 1050px) {

  .event-page__detail__content__images {
    width: calc((100vw / 3) - 2rem);
    margin-left: 2rem;
  }

  .event-page__detail__content__image {
    width: 100%;
  }

  .event-page__detail__content__text {
    width: calc((100vw / 3) * 2);

    & > div {
      width: calc(50% - 2rem);
    }
  }

  .event-page__list .event-article {

    &__content {
      margin: 0 4rem 0 0;
      width: 30rem;
    }

    &__image,
    &__placeholder {
      max-width: 30rem;
      max-height: 30rem;
      width: calc(50vw - 4rem);
      height: calc(50vw - 4rem);
    }
  }

  .insta {

    &__images {
      justify-content: space-between;
    }

    &__link,
    &__picture {
      margin: 0;
      width: 20vw;
      height: 20vw;
    }
  }

  .home__blog__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .home__blog,
  .home__zones {

    &__article {
      width: 26vw;
    }
  }
}

@media only screen and (width <= 950px) {

  .footer__contact {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .footer__item {
    width: 14rem;
    margin-right: 2rem;
  }

  .sponsors {
    justify-content: flex-start;

    &__item {
      margin-right: 2rem;
    }
  }

  .home__events {

    & .button {
      right: 0;
    }

    &__event-article:nth-child(1) .event-article__content,
    &__event-article:nth-child(2) .event-article__content {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media only screen and (width <= 900px) {

  .above-footer {
    flex-wrap: wrap;
    margin: 10rem 0 2rem;

    &::before {
      background-size: auto 35rem;
      width: calc(100vw + 20rem);
      height: 46rem;
      left: -10rem;
      top: -8rem;
    }

    &__newsletter__left,
    &__social .title {
      width: 37rem;
      margin: 0 4rem 0 0;
    }

    &__newsletter {
      width: 100%;
      justify-content: space-between;
    }

    &__social {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 10rem 0 0;

      &__icons {
        width: auto;
        filter: invert(1);
      }

      & .title {
        display: none;
      }
    }
  }

  .footer-seperator {
    margin: 5rem 0;
  }

  .home__blog {

    & .button {
      margin: 2rem 0 0;
    }

    &__content {
      margin-top: 6rem;

      & a:nth-child(2),
      & a:nth-child(3) {
        margin-top: 0;
      }
    }
  }

  .event-page__detail__content {
    align-items: flex-start;

    &__images {
      width: 24rem;
    }

    &__text {
      width: calc(100vw - 28rem);
      height: auto;

      & > div {
        width: 100%;
      }
    }
  }

  .messages {
    width: calc(100vw - 4rem);

    & .message {
      padding: 2rem 2rem 2rem 4rem;
      font-size: 2rem;
    }
  }

  .footer__general .to-top {
    width: 5rem;
    height: 5rem;
  }
}

@media only screen and (width <= 860px) {

  .home__events__content {
    margin-top: 17rem;
  }

  .home__events {
    margin-top: 18rem;

    & .button {
      position: relative;
      margin: 5rem 0 0;
    }

    &__event-article:nth-child(1) {
      margin-top: 0;
    }

    &__event-article:nth-child(1),
    &__event-article:nth-child(2) {

      & .event-article__content,
      & .event-article__image {
        width: 30rem;
      }

      & .event-article__image {
        height: 30rem;
      }
    }
  }

  .home__blog,
  .home__zones {

    &__content > a {
      width: 46%;
    }

    &__article {
      width: 100%;
    }
  }

  .article__paragraph {
    margin-bottom: 4rem;
  }

  .home__blog__content {
    flex-wrap: wrap;
  }

  .home__zones {

    &::before {
      right: -11rem;
    }

    &::after {
      right: 42rem;
    }
  }
}

@media only screen and (width <= 800px) {

  .above-footer::before {
    left: -9rem;
  }

  .event-page__list .event-article {

    &__content {
      width: calc(50vw - 4rem);
    }

    &__image,
    &__placeholder {
      max-width: 30rem;
      width: calc(50vw - 4rem);
      height: auto;
    }
  }
}

@media only screen and (width <= 720px) {

  .insta .title {
    margin-top: -1.5rem;
  }

  .home__events {

    &::before {
      left: -40rem;
    }

    &::after {
      display: none;
    }

    &__content {
      flex-direction: column;
      margin-top: 5rem;
    }

    &__event-article:nth-child(1),
    &__event-article:nth-child(2) {
      width: 100%;
      margin: 0 0 4rem;

      & .event-article {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        &__content,
        &__image {
          width: calc(50vw - 4rem);
        }

        &__image {
          height: calc(50vw - 4rem);
          margin: 0;
        }
      }
    }

    & .button {
      margin-top: -2rem;
    }
  }
}

@media only screen and (width <= 630px) {

  .event-page__detail__content {
    flex-direction: column;

    &__images {
      width: 100%;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    &__image {
      width: 48%;
      height: auto;
    }

    &__text {
      width: 100%;
    }
  }
}

@media only screen and (width <= 600px) {

  .insta {
    margin-top: 15rem;

    &::before {
      display: none;
    }

    &__images {
      flex-wrap: wrap;
    }

    &__link {
      width: 30%;
      height: 30%;

      &:last-child {
        display: none;
      }
    }

    &__picture {
      width: 100%;
      height: 100%;
    }
  }

  .home__blog,
  .home__zones {

    &__content,
    &__content > a {
      width: 100%;
    }
  }

  .home__zones::after {
    right: auto;
    left: 2rem;
  }
}

@media only screen and (width <= 500px) {

  .event-page__detail__content__image {
    width: 100%;
    max-width: 30rem;
  }

  .home__zones {

    & > .title {
      text-align: left;
    }

    &__content {
      margin-top: 3rem;
    }

    &::before {
      right: 3rem;
      top: -5.5rem;
    }

    &::after {
      display: none;
    }
  }
}

@media only screen and (width <= 470px) {

  .tag {
    font-size: 1.5rem;
    margin-bottom: .6rem;

    &::before {
      top: -.4rem;
      height: 2.4rem;
    }
  }

  .home__events__event-article:nth-child(1),
  .home__events__event-article:nth-child(2),
  .event-page__list {

    & .event-article {
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;

      &__content {
        width: 100%;
        margin: 0;
        order: 2;
      }

      &__image {
        max-width: 30rem;
        max-height: 30rem;
        width: calc(100vw - 4rem);
        height: calc(100vw - 4rem);
        margin: 0 0 2rem;
        order: 1;
      }
    }
  }

  .home__blog {
    margin-top: 12rem;

    & .title {
      text-align: left;
    }

    &::before {
      left: -42rem;
      right: auto;
      top: -9rem;
    }

    &::after {
      display: none;
    }
  }

  .footer {

    &__item {
      width: 12rem;
      margin-right: 1.4rem;
      font-size: 1.3rem;
    }

    &__general .to-top {
      top: -14rem;
    }

    &__contact {
      margin-bottom: 3rem;
    }
  }

  .sponsors {
    margin-bottom: 3rem;

    &__item {
      margin-bottom: 1rem;
    }
  }

  .above-footer {

    &::before {
      top: -6rem;
    }

    &__social {
      justify-content: flex-start;
    }

    &__newsletter {
      flex-direction: column;

      & .title,
      & .paragraph,
      & .label {
        color: black;
      }

      &__left,
      &__right,
      & form {
        width: 100%;
      }

      & .input,
      & .submit {
        background-color: lightgrey;
      }
    }
  }
}
